{% extends "unicoremc/base.html" %}
 {% load i18n admin_urls admin_static %}

{% block navbar %}
<ul class="nav" id="main-menu-left">
<li><a href="{% url 'home' %}">Home</a></li>
<li class="active"><a href="#">Advanced</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content-main" class="new-project">
    <div>
    <form class="form-horizontal" role="form" method="POST">
        <legend>{{project.get_app_type_display}} - {{project.get_country_display}}</legend>

        <div class="no-bullets">
            {{form.available_languages.errors}}
            <strong>Available Languages</strong>
            {{form.available_languages}}
        </div>
        <div class="no-bullets">
            {{form.default_language.errors}}
            <strong>Default Language</strong>
            {{form.default_language}}
        </div>
        <div>
            <strong>GA Profile ID</strong>
            {{form.ga_profile_id.errors}}
            <div>{{form.ga_profile_id}}</div>
        </div>

        {% csrf_token %}
        <br/>
        <p><input type="submit" value="Save" class="btn btn-primary"/></p>
    </form>
    </div>
</div>
{% endblock %}
