<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Unicore Mission Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css?v=20141211" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function show_error(msg){
            $("#notifications").prepend('<div class="alert alert-error">'+
                '<button type="button" class="close" data-dismiss="alert">×</button>'+
                msg+'</div>');
        }
    </script>
</head>
<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">UC Mission Control</a>
       <div class="nav-collapse" id="main-menu">
        {% block navbar %}
        <ul class="nav" id="main-menu-left">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        </ul>
        <form class="navbar-form">
          <input tabindex="1" type="text" id="filter" placeholder="search projects" autofocus/>
        </form>
        {% endblock %}
       </div>
     </div>
    </div>
    </div>

    <div class="container">
        <div id="notifications"></div><br/>
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        //javascript goes here
    });
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>
