{% extends "unicoremc/base.html" %}

<!-- LOADING -->
{% load i18n %}

<!-- CONTENT -->
{% block content %}

{% if user.is_superuser %}
<a href="{% url 'new_project' %}" class="btn btn-primary">Start new project</a>
<a href="{% url 'manage_ga' %}" class="btn btn-primary">Manage GA Profiles</a>
{% endif %}

<div id="projects_progress">
    <section id="grp-changelist">
    <div class="grp-module grp-changelist-results">
        <table id="result_list" cellspacing="0" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="grp-text">App Type</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">Country</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">Status</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">Content Store</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">Frontend URL <br />*.hub.unicore.io</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">Languages</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">GA Profile</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">Hub App ID</div>
                    </th>
                    <th scope="col">
                        <div class="grp-text">CMS URL <br />*.hub.unicore.io</div>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </section>
</div>
{% endblock %}

{% block script %}
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript">

function mk_github_link(url) {
    var name = url.replace(/^(https?):\/\/github.com\/universalcore\/unicore-cms-content-/, '');
    return '<a target="_blank" href="' + url + '">&hellip;' + name + '</a>';
}

function reload_projects(){
    $.getJSON('/progress/')
        .done(function(data){
            var projects = new Array();
            $.each(data, function(){
                var frontend_url = this.frontend_url.replace(/^(https?):\/\//, '').replace(/\.?(hub\.unicore\.io)/, '');
                var cms_url = this.cms_url.replace(/^(https?):\/\//, '').replace(/\.?(hub\.unicore\.io)/, '');

                var languages = new Array();
                for (key in this.available_languages){
                    languages.push(' <a href="' + this.frontend_url + '/locale/'+ this.available_languages[key] +'/" target="_blank">'+ this.available_languages[key] + '</a>');
                }

                var hub_reset_link = this.hub_app_id ? '<br/><a href="/advanced/' + this.id + '/reset_hub_app_key/">Reset key</a>' : '';

                var project_type = $('<span>').addClass('label').html(this.project_type);
                switch(this.project_type){
                  case 'unicore-cms':
                    project_type.addClass('label-info');
                    break;
                  case 'springboard':
                    project_type.addClass('label-success');
                    break;
                  default:;
                }
                var row = '<th>' + this.app_type +' '+project_type[0].outerHTML+'</th>' +
                          '<td>' + this.country + '</td>' +
                          '<td>' + this.state + '</td>' +
                          '<td>' + this.repo_urls
                            .filter(function(url){return url;})
                            .map(mk_github_link)
                            .join('<br/>') + '</td>' +
                          '<td><a target="_blank" href="'+ this.frontend_url +'">'+ frontend_url +'</a></td>' +
                          '<td>'+ languages + '</td>' +
                          '<td>'+ this.ga_profile_id + '</td>' +
                          '<td>' + this.hub_app_id + hub_reset_link + '</td>' +
                          '<td><a target="_blank" href="'+ this.cms_url +'">'+ cms_url +'</a></td>' +
                          {% if user.is_superuser %}
                          '<td><a href="/advanced/'+ this.id +'/">'+ 'edit' +'</a></td>' +
                          {% endif %}
                          '';

                var state_class = this.state == 'Ready for use' ? 'bg-success' : 'bg-warning';
                projects.push(
                    $('<tr>').html(row).addClass(state_class));
            });
            $('#projects_progress tbody').html(projects)
    });
}

var timeout = null;
function refresh(){
    clearTimeout(timeout);
    timeout = setTimeout("refresh()", 3000);
    reload_projects();
}
$(document).ready(function() {
    refresh();
});
</script>
{% endblock %}
