{% extends "unicoremc/base.html" %}

<!-- LOADING -->
{% load i18n %}

{% block results_count %}
<div class="pull-left results-count">
<code id="results_count">{{project_list.count}}</code>
<span>results</span>
</div>
{% endblock %}

<!-- CONTENT -->
{% block content %}

{% if user.is_superuser %}
<a href="{% url 'new_project' %}" class="btn btn-primary">Start new project</a>
<a href="{% url 'manage_ga' %}" class="btn btn-primary">Manage GA Profiles</a>
{% endif %}

<div id="projects_progress">
    <section id="grp-changelist">
    <div>
      <div class="heading">App Type</div>
      <div class="heading">Country</div>
      <div class="heading">Status</div>
      <br style="clear:both"/>
      <div id="result_list">
      {% for project in project_list %}
      {% include 'unicoremc/project_object.html' %}
      {% endfor %}
      </div>
    </div>
    </section>
</div>
{% endblock %}

{% block script %}
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/ws4redis.min.js"></script>
<script type="text/javascript">

jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}progress?subscribe-broadcast',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
      var data = JSON.parse(msg);
      if (data.is_created && document.getElementById(data.id) == null){
        //reload page when new project added
        window.location.reload();
        return
      }

      $('#'+data.id).attr('class', 'main '+ data.state);
      $('#'+data.id+' .state').html(data.state_display);

      var languages = new Array();
      $.each(data.available_languages, function(){
        var lang_link = $('<a/>')
          .attr('target', '_blank')
          .attr('href', data.frontend_url+'/locale/' + this + '/')
          .html(this + ',&nbsp;');
        if (this == data.default_language){
          lang_link.addClass('active');
        }
        languages.push(lang_link);
      });
      $('#'+data.id+' .languages').html(languages);
    }

    $("#result_list .main")
    .on("mouseenter", function(){
      $(this).addClass("info-hint");
    })
    .on("mouseleave", function(){
      $(this).removeClass("info-hint");
    })
    .on("click", function(){
      $(this).find(".additional-info").toggle(400);
    });

    $('#filter').keyup(function(){
        var valThis = $(this).val().toLowerCase().split(" ");
        $('#result_list .main').each(function(){
            var text = $(this).attr('country') + ' ' +
                       $(this).attr('apptype') + ' ' +
                       $(this).attr('projecttype');
            valThis.every(function(a){return text.toLowerCase().indexOf(a) != -1}) ? $(this).show() : $(this).hide();
        });
        $("#results_count").html($('#result_list .main:visible').length);
    });
});
</script>
{% endblock %}
