{% extends "unicoremc/base.html" %}
 {% load i18n admin_urls admin_static %}

{% block navbar %}
<ul class="nav" id="main-menu-left">
<li><a href="{% url 'home' %}">Home</a></li>
<li class="active"><a href="#">New Project</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content-main" class="new-project">
    <div>
    <form class="form-horizontal" role="form">
        <legend>New Project</legend>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left">App type</label>
            <div class="col-sm-10">
            <select class="form-control" id="unicore_app">
                <option value="">---------</option>
                {% for app_type in app_types %}
                    <option value="{{app_type.pk}}" app_name="{{app_type.name}}">{{app_type}}</option>
                {% endfor %}
            </select>
            <span class="help-block">Type of app to create.</span>
            </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label" style="text-align:left">Base content repo</label>
                <div class="col-sm-10">
                    <select class="form-control" id="base_repo" name="base_repo" disabled="disabled">
                        <option value="">---------</option>
                    </select>
                    <button class="btn btn-success btn-small" id="refresh_repos"><i class="icon-refresh"></i> refresh repos</button>
                    <span id="base_repo_help" class="help-block">This is a content repo that the site will be based on.</span>
                    <span id="base_repo_progress" class="help-block" style="display: none;">Fetching latest content repos&hellip;</span>
                    <span id="base_repo_error" class="help-block error" style="display: none;">Error loading repos. Please refresh.</span>
                </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label" style="text-align:left">Existing content repos</label>
                <div class="col-sm-10">
                    <select class="form-control" id="project_repo" name="project_repo" multiple="multiple" disabled="disabled" style="width: 320px">
                        {% for repo in project_repos %}
                            <option value="{{repo.pk}}">{{repo}}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">This is an existing content repo that the site will re-use. Changes made to the original project's CMS will reflect on this site.<br/><strong>Note that you should only select one repo unless the app was specially built for multiple repos.</strong></span>
                </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label" style="text-align:left">Country</label>
                <div class="col-sm-10">
                    <select id="country" disabled="disabled">
                        <option value="">---------</option>
                        {% for code, name in countries %}
                            <option value="{{code}}">{{name}}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">The country this is intended for. This will inform the url</span>
                </div>
        </div>
        <div class="form-group">
                <label class="col-sm-2 control-label" style="text-align:left">Docker CMD</label>
                <div class="col-sm-10">
                    <textarea name='docker_cmd' id="docker_cmd" cols="40" rows="5"></textarea>
                    <span class="help-block">
                    (not required)<br/><br/>
                    <strong>Default</strong>: /usr/local/bin/uwsgi --pypy-home /usr/local/bin/ --pypy-ini-paste /var/unicore-configs/frontend_settings/barefootlaw_za.ini --http :5656 --processes 1 --threads 1 --static-map /static=/var/app/static</span>

                </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left">Team Permissions</label>
            <div class="col-sm-10">
                <select id="repo_team" name="repo_team" disabled="disabled">
                    <option value="">---------</option>
                </select>
                <span class="help-block">This is the team that will have push access to the repo.</span>
            </div>
        </div>

    <br/>
    <p><input id="btn_launch" type="submit" value="Launch" class="btn btn-primary" name="_launch" disabled="disabled"></p>

    </form>
    </div>
</div>

<script type="text/javascript">
if (typeof String.prototype.startsWith != 'function') {
  String.prototype.startsWith = function (str){
    return this.slice(0, str.length) == str;
  };
}


(function($) {
    function load_content_repos(app_name, refresh){
        //javascript goes here
       $.get('{% url "repos_json" %}', {refresh: refresh})
            .done(function(data){
                if (data != null){
                  var options = new Array();
                  options.push($('<option>').val('').text('---------'));
                  $.each(data, function(){
                      if(this.name.startsWith('unicore-cms-content-' + app_name) ||
                          this.name.startsWith('unicore-cms-content-blank')){
                              options.push($('<option>').val(this.git_url).text(this.name));
                      }
                  });
                  $('#base_repo').html(options).removeAttr('disabled').change();
                  $('#base_repo').siblings('.help-block').hide()
                  $('#base_repo_help').show()
                }else{
                  $('#base_repo').siblings('.help-block').hide()
                  $('#base_repo_error').show()
                }
            });

        $.get('{% url "teams_json" %}')
            .done(function(data){
                var options = new Array();
                options.push($('<option>').val('').text('---------'));
                $.each(data, function(){
                    options.push($('<option>').val(this.id).text(this.name));
                });
                $('#repo_team').html(options);
            });
    }

    function get_multi_selected(selector) {
        return $.map($(selector + ' option:selected'), function(obj) {
            return $(obj).val();
        }).filter(function(obj) {
            return obj !== "";
        });
    }

    function repo_selected() {
        return $('#base_repo').val() || $('#project_repo').val()
    }

    function launch(){
        // Trigger start new project via ajax
        data = {
            'app_type': $('#unicore_app').val(),
            'base_repo': $('#base_repo').val(),
            'project_repos': get_multi_selected('#project_repo'),
            'country': $('#country').val(),
            'docker_cmd': $('#docker_cmd').val(),
            'team_id': $('#repo_team').val(),
            'user_id': '{{request.user.id}}',
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        }
        $.post('.', data)
            .done(function(){
                window.location = '/';
            });
    }

    $(document).ready(function() {
        $('#refresh_repos').click(function(event){
            event.preventDefault();
            $("#base_repo").attr('disabled', 'disabled').val('').change();
            var app_name = $('#unicore_app option:selected').attr('app_name');
            $('#base_repo').siblings('.help-block').hide()
            $('#base_repo_progress').show()
            if(app_name != '')
                load_content_repos(app_name, true);
        });
        $('#unicore_app').change(function(){
            var app_name = $('option:selected', this).attr('app_name');
            if(app_name != '')
                load_content_repos(app_name, false);
            else{
                $("#base_repo").attr('disabled', 'disabled').val('').change();
            }
            // Toggle springboard multiple repo select
            var app_title = $('option:selected', this).html();
            if (app_title.indexOf('springboard') > -1)
                $("#project_repo").removeAttr('disabled');
            else
                $("#project_repo").attr('disabled', 'disabled').val('').change();
        });
        $('#base_repo').change(function(){
            if(repo_selected())
                $("#country").removeAttr('disabled');
            else{
                $("#country").attr('disabled', 'disabled').val('').change();
            }
        });

        $('#project_repo').change(function(){
            if(repo_selected())
                $("#country").removeAttr('disabled');
            else{
                $("#country").attr('disabled', 'disabled').val('').change();
            }
        })

        $('#country').change(function(){
            if($(this).val() != '')
                $("#repo_team").removeAttr('disabled');
            else
                $("#repo_team").attr('disabled', 'disabled');
        });

        $('#repo_team').change(function(){
            if($(this).val() != '')
                $("#btn_launch").removeAttr('disabled');
            else
                $("#btn_launch").attr('disabled', 'disabled');
        });

        $("#btn_launch").click(function(event){
            event.preventDefault();
            $(this).attr('disabled', 'disabled');
            launch();
        });

        $('#base_repo').select2();
        $('#project_repo').select2();
    });
})($);
</script>
{% endblock%}
