{% extends "unicoremc/base.html" %}
 {% load i18n admin_urls %}

{% block breadcrumbs %}
<ul>
<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
<li>Nginx Configs</li>
</ul>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Nginx Configs</h1>
    <div>
    <form>
<div class="grp-module grp-changelist-results">
    <table id="result_list" cellspacing="0" class="grp-sortable">
        <thead>
            <tr>
                <th scope="col" class="sortable column-username sorted ascending">
                    <div class="grp-text"><a href="?o=-1">Filename</a></div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for config in nginx_configs %}
            <tr class="grp-row grp-row-{% cycle 'odd' 'even' %}">
                <th>
                    <a href="{% url 'nginx_detail' %}?filename={{config.filename}}">{{config.filename}}</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    </form>
    </div>
</div>
{% endblock%}
