<div id="{{project.id}}"
    country="{{project.get_country_display}}"
    apptype="{{project.application_type.title}}"
    projecttype="{{project.application_type.project_type}}"
    class="{{project.state}} main">
    <div style="width:100%;">
      <div class="title">{{project.application_type.title}}<br/>
      {% if project.application_type.project_type == 'unicore-cms' %}
      <span class="label label-info">
        {{project.application_type.project_type}}
      </span>
      {% else %}{% if project.application_type.project_type == 'springboard' %}
      <span class="label label-success">
      {{project.application_type.project_type}}
      </span>
      {% else %}
      <span class="label">{{project.application_type.project_type}}</span>
      {% endif %}{% endif %}
      </div>
      <div class="country">{{project.get_country_display}}</div>
      <div class="state">{{project.get_state_display}}</div>
      <br style="clear:both" />
    </div>

  <div class="additional-info">
    <fieldset>
      <legend>Frondend URLs</legend>
      <a target="_blank" href="{{project.frontend_url}}">{{project.get_generic_domain}}</a>
      {% for url in project.get_frontend_custom_domain_list %}
        <br/><a target="_blank" href="{{url}}">{{url}}</a>
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>CMS URLs</legend>
      <a target="_blank" href="{{project.cms_url}}">cms.{{project.get_generic_domain}}</a>
      {% for url in project.get_cms_custom_domain_list %}
        <br/><a target="_blank" href="{{url}}">{{url}}</a>
      {% endfor %}
    </fieldset>

    <fieldset>
      <legend>Other Info</legend>
      <!-- GA Profile -->
      {{project.ga_profile_id|default:''}}<br/>

      <!-- HUB APP ID -->
      {% if project.hub_app_id %}
      {{project.hub_app_id}}
      <a href="{% url 'reset-hub-app-key' project.id %}">Reset key</a><br/>
      {% endif %}

      <!-- Edit Link -->
      {% if user.is_superuser %}
      <a href="{% url 'advanced' project.id %}" class="btn btn-small btn-primary">edit</a>
      {% endif %}

      <!-- Logs Link -->
      <a href="{% url 'logs' project.id %}" class="btn btn-small">logs</a>

      <hr/>
      <!-- Restart Link -->
      <a href="{% url 'restart' project.id %}" class="btn btn-small btn-warning">restart</a>

      <br/>
    </fieldset>

    <fieldset>
      <legend>Languages</legend>
      <div class="languages">
      {% for lang in project.available_languages.all %}
      <a target="_blank" href="{{project.frontend_url}}/locale/{{lang.get_code}}/"
        {% if lang.get_code == project.default_language.get_code %}class="active"{%endif%}
        >{{lang.get_code}}</a>,
      {% endfor %}
      </div>
    </fieldset>
    <fieldset>
      <legend>Content Repos</legend>
      {% for repo in project.all_repos %}
      <a target="_blank" href="{{repo.url}}">{{repo.name}}</a>{% if not forloop.last %}<br/>{% endif %}
      {% endfor %}
    </fieldset>
  </div>
</div>

