{% extends "unicoremc/base.html" %}
 {% load i18n admin_urls %}

{% block breadcrumbs %}
<ul>
<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
<li><a href="{% url 'supervisor_list' %}">{% trans 'Supervisor Configs' %}</a></li>
<li>Supervisor Configs</li>
</ul>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Supervisor Configs</h1>
    <div>
    <form>
    <fieldset class="grp-module grp-collapse">
        <h2 class="grp-collapse-handler">{{config.filename}}</h2>
        {% for section in config.all %}
            <div class="grp-row grp-cells-1">
            <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label><strong>{{section.section}}</strong></label></div>
            </div>
            {% for key, value in section.items %}
            <div class="grp-row grp-cells-1">
            <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label>{{key}}</label></div>
                <div class="c-2">
                    <input class="vTextField" maxlength="30" type="text" value="{{value}}"/></div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </fieldset>
    </form>
    </div>
</div>
{% endblock%}
