<!-- Custom Tabs -->
<div class="col-xs-2 nav-tabs-custom main card application-card"
     id="{{controller.id}}"
     name="{{controller.name}}"
     state="{{controller.state}}"
     appid="{{controller.app_id}}">
    <div class="card-content application-card">
        <div class="application-card-title">
            {{ controller.name|capfirst }}
        </div>
        <div class="application-actions">
            <div class="application-item-box bg-{% if controller.state == 'done' %}green{% else %}orange{% endif %}">
                <div class="info-box-icon icon-small"><i class="fa fa-plus-square"></i></div>
                  Status
            </div>

            <div class="application-item-box bg-blue">
              <div class="info-box-icon icon-small">
                {% block container_icon%}
                    {% load staticfiles %}
                    {% with "img/basic-container-vector.svg" as icon_src %}
                        <img class="icon-container-base" src="{% static icon_src %}"/>
                    {% endwith %}
                {% endblock %}
            </div>
              Container
            </div>

            <div class="application-item-box bg-blue">
                {% block edit_action %}
                    <a class="link" href="{% url 'base:edit' controller.id %}">
                        <span><i class="fa fa-gears info-box-icon icon-small"></i></span>
                        Edit
                    </a>
                {% endblock %}
            </div>

            <div class="application-item-box link delete bg-blue">
                {% block delete_action %}
                    <a class="link" href="{% url 'base:delete' controller.id %}">
                        <span><i class="fa fa-trash-o info-box-icon icon-small"></i></span>
                        Delete
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{#<div class="nav-tabs-custom main col-xs-2"#}
{#     id="{{controller.id}}"#}
{#     name="{{controller.name}}"#}
{#     state="{{controller.state}}"#}
{#     appid="{{controller.app_id}}">#}
{#  <ul class="nav nav-tabs">#}
{#    <li class="active">#}
{#      <a href="#tab_1_{{controller.id}}" data-toggle="tab">#}
{#        <strong>{{controller.name}}</strong>#}
{#      </a>#}
{#    </li>#}
{#    <li><a href="#tab_2_{{controller.id}}" data-toggle="tab">More info</a></li>#}
{#    {% if user.is_superuser %}#}
{#      <li><a href="#tab_3_{{controller.id}}" data-toggle="tab">Actions</a></li>#}
{#      {% block edit_action %}#}
{#      <li class="pull-right"><a href="{% url 'base:edit' controller.id %}" class="text-muted"><i class="fa fa-gear"></i></a></li>#}
{#      {% endblock %}#}
{#    {% endif %}#}
{#  </ul>#}
{#  <div class="tab-content">#}
{#    <div class="tab-pane active" id="tab_1_{{controller.id}}">#}
{#    {% block main_tab %}#}
{#      <div>#}
{#        <span class="label label-{% if controller.state == 'done' %}success{% else %}warning{% endif %}">#}
{#          {{controller.get_state_display}}#}
{#        </span>#}
{#        <span class="label label-primary pull-right">{{controller.polymorphic_ctype.app_label}}</span>#}
{#      </div>#}
{#    {% endblock %}#}
{#    </div>#}
{#    <div class="tab-pane" id="tab_2_{{controller.id}}">#}
{#    {% block more_info_tab %}#}
{#      <fieldset>#}
{#        <legend>Settings</legend>#}
{#        App ID: {{controller.app_id}}<br/>#}
{#        Memory Share: {{controller.marathon_mem|default:''}}<br/>#}
{#        CPU Share: {{controller.marathon_cpus|default:''}}<br/>#}
{#        Num Instances: {{controller.marathon_instances|default:''}}<br/>#}
{#      </fieldset>#}
{##}
{#      <fieldset>#}
{#        <legend>Command</legend>#}
{#        <pre>{{controller.marathon_cmd|default:''}}</pre><br/>#}
{#      </fieldset>#}
{##}
{#      <!-- Logs Link -->#}
{#      <div>#}
{#      <a href="{% url 'base:logs' controller.id %}" class="btn btn-sm btn-default">View logs</a>#}
{#      </div>#}
{#    {% endblock %}#}
{#    </div>#}
{#    <div class="tab-pane" id="tab_3_{{controller.id}}">#}
{#    {% block actions_tab %}#}
{#      <!-- Restart Link -->#}
{#      <a href="{% url 'base:restart' controller.id %}" class="btn btn-sm btn-app bg-orange">#}
{#      <i class="fa fa-repeat"></i> Restart</a>#}
{#      <!-- Delete Link -->#}
{#      <a href="{% url 'base:delete' controller.id %}" class="btn btn-sm btn-app bg-red">#}
{#      <i class="fa fa-trash-o"></i>Delete App</a>#}
{#    {% endblock %}#}
{#    </div>#}
{#  </div>#}
{#  <!-- /.tab-content -->#}
{#</div>#}
<!-- nav-tabs-custom -->
