{% extends "skins/base.html" %}
 {% load i18n admin_urls admin_static %}

{% block extra_css %}
<style type="text/css">
  #env-variables .add-row{margin-left: 30px;}
  #env-variables .delete-row{margin-top: 30px;}
</style>
{% endblock %}

 {% block script %}
    <script type="text/javascript">
      $(function() {
          $(".inline.{{ env_variable_form.prefix }}").formset({
              prefix: "{{ env_variable_form.prefix }}",
              addCssClass: "add-row btn btn-primary",
              deleteCssClass: "delete-row btn btn-danger btn-xs",
          })
      })
    </script>
{% endblock %}

{% block navbar %}
<ul class="nav" id="main-menu-left">
<li><a href="{% url 'home' %}">Home</a></li>
<li class="active"><a href="#">New</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit your app</h3>
    </div>

    <form role="form" method="POST">
    <div class="box-body">
      {% if form.errors %}
          <div class="alert alert-error">
              Please correct the errors below
          </div>
      {% endif %}
      {% if form.non_field_errors %}
          <div class="alert alert-error">
              {{ form.non_field_errors|join:", " }}
          </div>
      {% endif %}

      {% include "form_field.html" with field=form.name %}

      <fieldset class="input-xxlarge" id="env-variables">
        <legend>Environment Variables</legend>
          {{ env_variable_form.management_form }}
          {{ env_variable_form.non_form_errors }}
          {% for form in env_variable_form %}
              {{ form.id }}
              <div class="row inline {{ env_variable_form.prefix }}">
                  <div class="col-xs-4">
                  {% include "form_field.html" with field=form.key %}
                  </div>
                  <div class="col-xs-4">
                  {% include "form_field.html" with field=form.value %}
                  </div>
              </div>
          {% endfor %}
      </fieldset>

      {{ formset.management_form }}

      <fieldset class="input-xxlarge">
          <legend>Marathon</legend>
          {% include "form_field.html" with field=form.marathon_cmd %}
          <div class="row">
          <div class="col-xs-3">
          {% include "form_field.html" with field=form.marathon_cpus %}
          </div>
          <div class="col-xs-3">
          {% include "form_field.html" with field=form.marathon_mem %}
          </div>
          <div class="col-xs-4">
          {% include "form_field.html" with field=form.marathon_instances %}
          </div>
          </div>
      </fieldset>

      {% csrf_token %}
      <br/>
      <p><input type="submit" value="Submit" class="btn btn-primary"/></p>
      </div>
    </form>

  </div>
</div>
</div>
{% endblock %}
