{% extends "unicoremc/base.html" %}
{% load i18n %}

{% block navbar %}
<ul class="nav" id="main-menu-left">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="active"><a href="#">{% blocktrans with org_name=organization.name %}Manage {{ org_name }}{% endblocktrans %}</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{ organization.name }}</h3>
    </div>
    <form role="form" method="post">
    <div class="box-body">
        {% csrf_token %}
        {% include "form.html" with form=form.organization_form %}

        <br><br>
        <legend>{% trans "Manage users" %}</legend>
        {{ form.users_formset.management_form }}
        {% for user_form in form.users_formset %}
            {% with user=user_form.instance.user %}
            {{ user.full_name|default:user.username }} ({{ user.email }})
            {% endwith %}
            {% include "form.html" with form=user_form %}
            <hr/>
        {% endfor %}

        {{ form.new_users_formset.management_form }}
        {% for new_user_form in form.new_users_formset %}
            <legend>{% blocktrans with org_name=organization.name %}Add a user to {{ org_name }}{% endblocktrans %}</legend>
            {% include "form.html" with form=new_user_form %}
        {% endfor %}

        <p>
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </p>
    </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
