{% extends "admin/base_site.html" %}
 {% load i18n admin_urls %}

{% block breadcrumbs %}
<ul>
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>Apps</li>
</ul>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Apps</h1>
    <div>
    <form>
    <fieldset class="module aligned ">
        {% for app in supervisor_configs %}
        <div class="form-row"><strong>app.path</strong></div>
        {% endfor %}
    </fieldset>
    </form>
    </div>
</div>
{% endblock%}
