{% extends "admin/base_site.html" %}
 {% load i18n admin_urls admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "unicoremc/css/custom.css" %}" />
{% endblock %}


{% block breadcrumbs %}
<ul>
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li><a href="{% url 'admin:index' %}nginx/">{% trans 'Nginx Configs' %}</a></li>
<li>Nginx Configs</li>
</ul>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Nginx Configs</h1>
    <div>
    <form>
    <fieldset class="grp-module grp-collapse">
        <h2 class="grp-collapse-handler">{{config.filename}}</h2>
        <div class="grp-row grp-cells-1">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1"><label>&nbsp;</label></div>
            <div class="c-2">
                <textarea class="vLargeTextField nginx-textarea" cols="40" rows="40">{{config.content}}</textarea>
            </div>
        </div>
        </div>
    </fieldset>
    </form>
    </div>
</div>
{% endblock%}
