{% extends "unicoremc/base.html" %}
{% load i18n %}

{% block content %}

<h1>{{ organization.name }}</h1>

<form method="post" action="">
    {% csrf_token %}
    <fieldset>{{ form.organization_form.as_p }}</fieldset>
    <fieldset>
    {{ form.users_formset.management_form }}
    {% for user_form in form.users_formset %}
        {% with user=user_form.instance.user %}
        <h4>{{ user.full_name|default:user.username }} ({{ user.email }})</h4>
        {% endwith %}
        {{ user_form.as_p }}
    {% endfor %}
    </fieldset>
    <fieldset>
    {{ form.new_users_formset.as_p }}
    </fieldset>
    <input type="submit" value="{% trans "Save" %}" />
</form>

{% endblock %}
