{% load mc2_tags static i18n %}
<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>M</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Mission</b> Control</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if active_organization %}
            {{ active_organization.name }}
            {% else %}
            {% trans "Select an organization" %}
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            <li>
              <!-- inner menu: contains the messages -->
              <ul class="menu">

                {% for org in organizations %}
                    {% if org != active_organization %}
                    <li><a href="{% url 'organizations:select-active' org.slug %}?next={{ request.path|urlencode }}">{% blocktrans with org_name=org.name %}{{ org_name }}{% endblocktrans %}</a></li>
                    {% endif %}
                {% endfor %}

                {% if is_active_organization_admin %}
                    <li><a href="{% url 'organizations:edit' active_organization.slug %}"><i class="fa fa-cog"></i> {% blocktrans with org_name=active_organization.name %}Manage {{ org_name }}{% endblocktrans %}</a></li>
                {% endif %}
              </ul>
              <!-- /.menu -->
            </li>
            {% if user.is_superuser and active_organization %}
                <li class="footer"><a href="{% url 'organizations:deselect-active' %}">{% trans "See All" %}</a></li>
            {% endif %}
          </ul>
        </li>
        <!-- /.messages-menu -->

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            {% gravatar_url user.email 160 as user_avatar %}
            {% if user_avatar %}
              <img src="{{user_avatar}}" class="user-image" alt="">
            {% else %}
              <img src="{% static 'img/default-profile.png' %}" class="user-image" alt="">
            {% endif %}
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">{% display_name %}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              {% if user_avatar %}
                <img src="{{user_avatar}}" class="img-circle" alt="">
              {% else %}
                <img src="{% static 'img/default-profile.png' %}" class="img-circle" alt="">
              {% endif %}

              <p>
                {% display_name %}
                <small>Member since {{user.date_joined|date:"N Y"}}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
