{% extends "skins/base.html" %}
{% load i18n %}

{% block navbar %}
<ul class="nav" id="main-menu-left">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="active"><a href="#">{% blocktrans with org_name=organization.name %}Manage {{ org_name }}{% endblocktrans %}</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
  <!-- general form elements -->
  <form role="form" method="post">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{ organization.name }}</h3>
    </div>
    <div class="box-body">
        {% csrf_token %}
        {% include "form.html" with form=form.organization_form %}

        {{ form.users_formset.management_form }}
        <div class="box-body no-padding">
        <table class="table table-condensed">
          <tr>
            <th style="width: 10px">#</th>
            <th>Username</th>
            <th>Email</th>
            {% if is_org_admin %}
            <th>Is admin?</th>
            {% endif %}
            <th>Is app admin?</th>
            <th>Remove?</th>
          </tr>
        {% for user_form in form.users_formset %}
            {% for field in user_form.hidden_fields %}{{ field }}{% endfor %}
            {% with user=user_form.instance.user %}
            <tr>
              <td>{{forloop.counter}}.</td>
              <td>{{ user.full_name|default:user.username }}</td>
              <td>{{ user.email }}</td>
              {% if is_org_admin %}
              <td>{{ user_form.is_admin }}</td>
              {% endif %}

              {% if is_org_admin %}
                <td>{{ user_form.is_app_admin }}</td>
                <td>{{ user_form.DELETE }}</td>
              {% elif user_form.is_admin.value %}
                <td><input disabled="disabled" checked="checked" type="checkbox"></td>
                <td><input disabled="disabled" type="checkbox"></td>
              {% else %}
                <td>{{ user_form.is_app_admin }}</td>
                <td>{{ user_form.DELETE }}</td>
              {% endif %}
            </tr>
            {% endwith %}
        {% endfor %}
        </table>
        </div>

        <p>
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </p>
    </div>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{% blocktrans with org_name=organization.name %}Add a user to {{ org_name }}{% endblocktrans %}</h3>
    </div>
    <div class="box-body">
      {% csrf_token %}
      {{ form.new_users_formset.management_form }}
      {% for new_user_form in form.new_users_formset %}
          {% for field in new_user_form.hidden_fields %}{{ field }}{% endfor %}

          <div class="form-group{% if field.errors|length > 0 %} error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ new_user_form.email.label }}</label>
            {{ new_user_form.email }}
            {% if new_user_form.email.help_text %}<p class="help-block">{{ new_user_form.email.help_text }}</p>{% endif %}
            {% include "form_errors.html" with errors=new_user_form.email.errors %}
          </div>
          {% if is_org_admin %}
          <div class="form-group{% if field.errors|length > 0 %} error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ new_user_form.is_admin.label }}</label>
            {{ new_user_form.is_admin }}
            {% if new_user_form.is_admin.help_text %}<p class="help-block">{{ new_user_form.is_admin.help_text }}</p>{% endif %}
            {% include "form_errors.html" with errors=new_user_form.is_admin.errors %}
          </div>
          {% endif %}
          <div class="form-group{% if field.errors|length > 0 %} error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ new_user_form.is_app_admin.label }}</label>
            {{ new_user_form.is_app_admin }}
            {% if new_user_form.is_app_admin.help_text %}<p class="help-block">{{ new_user_form.is_app_admin.help_text }}</p>{% endif %}
            {% include "form_errors.html" with errors=new_user_form.is_app_admin.errors %}
          </div>

      {% endfor %}

      <p>
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      </p>
    </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
